# Basic Python

## 1. Split this string

In [23]:
s = "Hi there Sam!"

In [24]:
#s=s.split()
#print(s);

*`italicized text`*## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [25]:
planet = "Earth"
diameter = 12742

In [26]:
#print('The diameter of {} is {}kilometers.' .formet(planet,diameter));

## 3. In this nest dictionary grab the word "hello"

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [17]:
#d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
#print(d['K1'][3])["tricky"][3]['target'][3])

# Numpy

In [ ]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [20]:
#array=np.zeros(10)
#print("An array of 10 zeros:")
#print(array)
#array=np.ones(10)*5
#print("An array of 10 fives:")
#print(array)

## 5. Create an array of all the even integers from 20 to 35

In [22]:
#import numpy as np
#array=np.arange(20,36,2)
#print("Array of all the even integers from 20 to 35")
#print(array)

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [21]:
#import numpy as np
#x=np.arrange(0,9).reshape(3,3)
#print(x)

## 7. Concatinate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [31]:
#a=np.array([1, 2, 3])
#b=np.array([4, 5, 6]) 
#np.concatenate((a, b))
#array([1, 2, 3, 4, 5, 6])

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [ ]:
import pandas as pd

In [33]:
#d = {"one":[1, 2, 3],
 # "two":[4, 5, 6]}
#pd.DataFrame(d)

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [35]:
#pd.Series(pd.date_range("2023", freq="D", periods=41))

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [ ]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [36]:
#print(type (lists))
#for x in lists:
#for j in x:
#print(j)
#dt=zip(lists)
#df=pd.DataFrame(dt,columns=["d"])
#print(type(df))
#print(df)